.totalmoney{
     
    background: rgb(245, 243, 243);
    margin: auto;
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 4px 3px  rgba(17, 17, 17, 0.3) , -2px -2px 4px 3px  rgba(88, 82, 82, 0.6);
}

.Footermoney{
    
    position: absolute;
    bottom: 0px;
    width: 100vw;
    text-align: center;
}
