.full-height{
    height: 100vh;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.paper1{
 height: 200px;
}


.paper2{
 height: 200px;
}

.root {
 flex-grow: 1;
}

#main-grid{
    width: 100% !important;
}



